<article class="post-preview">
    <a href="{{ .Permalink }}" class="post-preview-title">
        <div class="post-preview-media">
            {{ if .Params.video }}
            <video loop autoplay muted playsinline aria-hidden="true" width="96" height="96">
                <source src="{{ .Params.video }}">
            </video>
            {{ else }}
            <img src="{{ partial "resolve-image.html" (dict "image" .Params.image "site" .Site) }}" alt="" width="96" height="96" />
            {{ end }}
        </div>
        <div class="post-preview-heading">
            <h2 class="post-title">{{ .Title }}</h2>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}
        </div>
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ if or (.Truncated) (.Params.summary) }}
        {{ .Summary }}
        <!--<a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a> -->
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>
