{{ define "main" }}
  <main id="main-content" role="main" class="container home-container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-column">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ if not $pag.Pages }}
          <div class="well text-center">
            <p>{{ i18n "noPostsFound" | default "No posts found." }}</p>
          </div>
          {{ end }}
          {{ range $pag.Pages }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">previous</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">older posts</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
